/* Navigation */

#navbar {
    flex-direction: column;
}


/* Logo */

#navbar img {
    margin: 0px 79px;
}

#navbar div {
    margin: 0px 59px;
    padding: 1px
}


/* Contact */

.con {
    visibility: hidden;
}


/* Menu */

.menu {
    background-color: black;
    opacity: 0.5;
    margin: 4px -2px;
}

.menu li {
    margin: 1px 2px;
    padding: 2px;
}

.menu li a {
    color: white;
    font-size: 12px;
}

.menu li a:hover {
    background-color: white;
    color: balck;
    margin: 0px 0px;
    padding: 0px;
}


/* Form */

.form {
    margin: 61px 5px;
    padding: 9px;
    justify-content: center;
    float: left;
}

.form h1 {
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

.frm {
    margin: 0px 0px;
    padding: 0px;
}

.frm input {
    ont-family: 'STIX Two Text', serif;
    font-size: 12px;
    margin: 0px 94px;
    width: 134px;
}